{%extends 'base.html'%}

{%block title%}Code store - Home{%endblock%}

{%block content%}
{% for product in productos%}

<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}"/>
    {% if comprado ==1 %}
        <div class="alert alert-danger" role="alert">
                Sorry, product out of stock
                </div>
          {% endif %}
 <div class="mt-auto d-flex align-items-center">
          <div class=" my-3 mx-3 " style="width: 18rem;">
          <img class="card-img-top" src="{{ product.imagen_url }}" alt="Product Image" onerror="this.src='{{url_for('static', filename='imagen_por_defecto.webp')}}'">
                      </div>
    <li class='list-group-item flex-grow-1 mx-3'>
    <div class="flex-grow-1 mx-3">
        <div class="d-flex justify-content-between align-items-center">
  <div class="p-2">{{product.contenido}}</div>
  <div class="p-2 ms-auto">$ {{product.precio}}</div>
  <div class="vr"></div>
  <a class="nav-link" href="/comprado/{{ product.id }}">
        <button class="btn btn-primary"  type="button">Buy</button>
            </a>
</div>
        </div>

     </li>
    </table>


{% endfor %}



{%endblock%}