{%extends 'home.html'%}

{%block title%}Create product {%endblock%}

{%block content%}

{% if lista_de_productos %}

<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}"/>
<table class="table table-striped">
  <h3 class="text-center">Products</h3>
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Qualification</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {%for mostrar in lista_de_productos %}
    <tr>
      <th scope="row">{{mostrar.id}}</th>
      <td>{{mostrar.contenido}}</td>
      <td>{{mostrar.categoria}}</td>
      <td>${{mostrar.precio}}</td>
      <td>${{mostrar.stock}}</td>
      <td>
          <div>
            <a class='t btn-delete' href ='/eliminar-producto/{{mostrar.id}}' style="text-decoration:none">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x-fill" viewBox="0 0 16 16">
                  <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M6.854 6.146 8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708"/>
               </svg>
             </a>
            <a href ='/editar-producto/{{mostrar.id}}' style="text-decoration:none">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
              </svg>
            </a>
          </div>
      </td>
      </tr>
    </tbody>
    {%endfor%}
{% else %}
<p>There is no data</p>
{% endif %}

{%endblock%}